[Unit]
Description=AI Horde regen Worker
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/home/db0/projects/horde-worker-regen
ExecStart=sh -c '/home/db0/projects/horde-worker-regen/horde-bridge.sh'
Restart=always
RestartSec=15
TimeoutStopSec=120
KillSignal=SIGINT
Environment="{{ worker_environment }}"

[Install]
WantedBy=default.target
